<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Flask示例</title>
</head>
   <body>

    <form action = "{{ url_for('addrec') }}" method = "POST">
         <h3>學生信息</h3>
         姓名<br>
         <input type = "text" name = "nm" ></br>

         地址<br>
         <textarea name = "add"></textarea><br>

         城市<br>
         <input type = "text" name = "city"><br>

         郵編<br>
         <input type = "text" name = "pin"><br>
         <input type = "submit" value = "提交"><br>
      </form>

   </body>
</html>